{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Patrimônio Cultural</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="shortcut icon" href="{% static '/img/logoicon.png' %}" type="image/x-icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor2/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor2/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor2/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor2/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor2/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
  <link href="{% static 'css/variables.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  
  <!-- =======================================================
  * Template Name: ZenBlog - v1.2.0
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top shadow">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'url_index' %}" class="logo d-flex align-items-center">
        <h1><i class="fas fa-map-marker-alt"></i> Patrimônio Cultural</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="#"><span>Patrimônios por cidade</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              {% for i in cidades %}
              <li><a href="{% url 'url_verP' i.id %}">{{ i.cidade }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li><a href="{% url 'url_login' %}">Login</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="{% url 'url_index' %}" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" name="search" class="form-control">
            <button class="btn" type="submit"><span class="bi-x"></span></button>
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->

  <!-- ======= Main ======= -->
  <main id="main">
    {% block conteudo %}

    {% endblock %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-12 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>Patrimônio Cultural</span></strong>. Todos os Direitos Reservados
            </div>

            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
            </div>

          </div>
        </div>
      </div>
    </div>

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor2/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor2/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor2/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor2/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

  <!-- FontAweasome -->
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

</body>
</html>