{% extends 'layout.html' %}
{% block conteudo %}
<h2 class="h2 mb-0 text-primary">Novo Usuario</h2>
<div class="card o-hidden border-0 shadow-lg my-3">
    <div class="card-body p-0">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="p-5">
                    <div class="text-center">
                        <h3>Informações</h3>
                    </div>
                    <form class="user" method="POST">
                        <div class="form-group row">
                            <div class="col-sm mb-3 mb-sm-0">
                                <input type="text" class="form-control " placeholder="Nome">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm mb-3 mb-sm-0">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm mb-3 mb-sm-0">
                                <input type="text" class="form-control " placeholder="Senha">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm mb-3 mb-sm-0">
                                <input type="text" class="form-control " placeholder="Confirmar senha">
                            </div>
                        </div>
                        <hr>
                        <div class="text-center">
                            <input type="submit" class="btn bg-success text-dark col-sm-5 -md-auto" value="Salvar">
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}