{% extends 'layouts/index.html' %}
{% block conteudo %}
<main id="main">

  <!-- ======= Hero Slider Section ======= -->
  <section id="hero-slider" class="hero-slider">
    <div class="container-md" data-aos="fade-in">
      <div class="row">
        <div class="col-12">
          <div class="swiper sliderFeaturedPosts">
            <div class="swiper-wrapper">
              {% for i in patrimonios %}
                <div class="swiper-slide">
                  <a href="{% url 'url_showP' i.codigo %}" class="img-bg d-flex align-items-end" style="background-image: url({{ i.foto.url }})">
                    <div class="img-bg-inner">
                      <h2>{{ i.nome }}</h2>
                      <p>{{ i.descricao }}</p>
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
            <div class="custom-swiper-button-next">
              <span class="bi-chevron-right"></span>
            </div>
            <div class="custom-swiper-button-prev">
              <span class="bi-chevron-left"></span>
            </div>

            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero Slider Section -->

  <!-- ======= Aboutus Category Section ======= -->
  <section class="category-section" style="background: #BFA79C;">
    <div class="container" data-aos="fade-up">

      <div class="section-header d-flex justify-content-between align-items-center mb-5">
        <h2>Quem somos?</h2>
      </div>

      <div class="row">
        <div class="container" data-aos="fade-up">

          <div class="row mb-5">
  
            <div class="d-md-flex post-entry-2 half">
              <a href="#" class="me-4 thumbnail">
                {% load static %}
                <img src="{% static 'img/logocerta1.png' %}" alt="" class="img-fluid">
              </a>
              <div class="ps-md-5 mt-4 mt-md-0">
                <div class="post-meta mt-4">Sobre nós</div>
                <p>Somos uma equipe de software que busca facilitar sua pesquisa sobre patrimônios históricos e culturais da cidade de Caicó. Ajudando a população e os turistas a conhecer e valorizar sua história local, e auxiliar a busca por locais de lazer, que muitas vezes são poucos conhecidos.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Culture Category Section -->
</main><!-- End #main -->
{% endblock %}