{% extends request.user.is_authenticated|yesno:'layouts/layout.html,layouts/index.html' %}
{%block title%} PC | Patrimônios {% endblock %}
  {% block botao %}
  {% load permission_tags %}
    {% if user|can:'cadastrar_patrimonio' %}
      <a href="{% url 'url_createP' %}" class="d-none d-sm-inline-block btn btn-sm bg-logo text-light shadow-sm"><i
        class="fas fa-plus fa-sm text-white-50"></i>&nbsp;&nbsp;Novo Patrimônio</a>
    {% endif%}
  {% endblock %}

{% block conteudo %}
<section class="category-section">
  <div id="content-wrapper" class="d-flex flex-column">
    <div class="content">
      <div class="container-fluid">
        <div class="card shadow mb-4">
          <div class="card-header py-3  bg-rosa">
              <h3 class="m-0 font-weight-bold text-logo">Patrimônios Cadastrados</h3>
          </div>
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                          <tr>
                              <th class="col-2">Foto</th>
                              <th class="col-3">Nome</th>
                              <th>Descrição</th>
                              {%if user.is_authenticated %}
                              <th class="col-2">Ações</th>
                              {% else %}
                              <th class="col-2">Funcionamento</th>
                              {% endif %}
                          </tr>
                      </thead>
                      <tbody>
                        {% for i in patrimonios %}
                          <tr>
                              <td><a href="{% url 'url_showP' i.codigo %}"><img src="{{ i.foto.url }}" class="img-fluid img-thumbnail"></a></td>
                              <td>{{ i.nome }}</td>
                              <td>{{ i.descricao }}</td>
                              {%if user.is_authenticated %}
                              <td>
                                <a href="{% url 'url_showP' i.codigo %}"><button class="btn btn-circle bg-marrom text-white"><i class="fas fa-info btn-lg"></i></button></a>
                                {% if user|can:'editar_patrimonio' %}
                                <a href="{% url 'url_updateP' i.codigo %}"><button class="btn btn-circle bg-logo text-white"><i class="fas fa-pen btn-lg"></i></button></a>
                                {% endif %}
                                {% if user|can:'remover_patrimonio' %}
                                <a href="{% url 'url_delP' i.codigo %}"><button class="btn btn-circle bg-laranja text-white"><i class="fas fa-trash btn-lg"></i></button></a>
                                {% endif %}
                              </td>
                              {% else %}
                              <td>{{ i.funcionamento }}</td>
                              {% endif %}
                          </tr>
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Culture Category Section -->
{% endblock %}