{% extends 'layouts/layout.html' %}
{%block title%} PC | Redefinir Senha {% endblock %}
{% block conteudo %}
{% load crispy_forms_tags %}
<head>
    <style>
        #hint_id_new_password1{
            display: none;
        }
    </style>
</head>
<h2 class="h2 mb-0 text-marrom">Redefina sua senha</h2>
<div class="card o-hidden border-0 shadow-lg my-3">
    <div class="card-body p-0">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="p-5">
                    <form class="user" method="POST"> {% csrf_token %}
                        {{ form|crispy }}
                        <p class="text-vermelho">{{ texto }}</p>
                        <hr>
                        <div class="text-center">
                            <input type="submit" class="btn bg-marrom text-logo col-sm-5 -md-auto" value="Salvar">
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}