{% extends 'layouts/layout.html' %}
{%block title%} PC | {{ usuario.get_full_name }} {% endblock %}
{% block conteudo %}
<div class="card o-hidden border-0 shadow-lg my-3">
    <div class="card-body p-0">
        <div class="row justify-content-center">
            <div class="">
                <div class="p-5">
                    <div class="text-center">
                        <h3 class="text-logo">Informações</h3>
                    </div>
                    <div class=" m-4">
                        <div class="media g-mb-30 media-comment">
                            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                                <div class=" fs-0 mb-3 display-5">
                                    <span class="text-decoration-line-through h4"> Nome: </span>
                                    <span class="lead display-5">{{ usuario.get_full_name }}</span>
                                </div>
                                <div class=" fs-0 mb-3 display-5">
                                    <span class="text-decoration-line-through h4"> E-mail: </span>
                                    <span class="lead display-5">{{ usuario.email }}</span>
                                </div>
                                <div class=" fs-0 mb-3 display-5">
                                    <span class="text-decoration-line-through h4"> Cadastrado: </span>
                                    <span class="lead display-5 ">{{ usuario.date_joined }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}